version = "1.0"

[main]
name = "FTPGrab configuration"
services = ["__APP__"]


[main.server]
name = "FTP Server configuration"

    [main.server.host]
    ask = "FTP Host adresse"
    type = "text"
    help = "FTP host IP or domain"
    bind = ":__INSTALL_DIR__/ftpgrab.yml"

    [main.server.port]
    ask = "FTP port"
    type = "number"
    help = "FTP port. (default 21)"
    bind = ":__INSTALL_DIR__/ftpgrab.yml"

    [main.server.username]
    ask = "FTP username"
    type = "text"
    bind = ":__INSTALL_DIR__/ftpgrab.yml"

    [main.server.password]
    ask = "FTP password"
    type = "password"
    bind = ":__INSTALL_DIR__/ftpgrab.yml"
